.ui-page-threme-a{  /* remove shadow when button is clicked, change font color to white when button is clicked */
	-webkit-box-shadow: 0px;
	-moz-box-shadow: 0px;
	box-shadow: 0px;
}

#custom_header{   /* customize header */
	background-color: red;
	color:white;
	font-weight: bold;
	height: 3.5rem;
	font-size: 1.4rem;
	padding-top: 0.3rem;
	padding-bottom:0.5rem;
}

h1, h2{ /* center text at all h1 and h2 headers */
	text-align: center;
}

#custom_navbar .ui-btn{ /* customize the navigation bar */
	height: 1rem; 
	font-size: 0.6rem !important;
}

#custom_footer{ /* customzie the footer */
	background-color: white;
}

.ui-link.ui-btn{ /* adjust position of button texts */
	padding-top: 3.5rem;
}

.ui-btn:after { /* scaling the icons in the buttons and adjust the position of the icons*/
    background-repeat: no-repeat;
    background-position: center;
    ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Chrome, Safari, Opera */
    transform: scale(2);
    top:1.2rem;
}

.ui-collapsible-heading-toggle:after{ /* adjust position of up and down arrows in home collapsible */
	top:2rem;
}

.ui-btn-active:after{ /* made the buttons in navbar appear red when active */
	background-color: red;
}

.ui-icon-usd:after{ /* adjust the position of the image in the spending icon */
	background-position: 0.4rem, 0.3rem;
}

.ui-icon-plus-circle:after{ /* adjust the position of the image in the plus icon */
	background-position: 0.25rem, 0.3rem;
}

.ui-icon-cutlery:after{ /* adjust the position of the image in the meal icon */
	background-position: 0.25rem, 0.3rem;
}

.ui-icon-dribble:after{ /* adjust the position of the image in the workout icon */
	background-position: 0.25rem, 0.3rem;
}

.ui-icon-chevron-circle-up:after{ /* adjust the position of the image in the chevron-circle-up icon */
	background-position: 0.25rem, 0.3rem;
}

.ui-icon-chevron-circle-down:after{ /* adjust the position of the image in the chevron-circle-down icon */
	background-position: 0.25rem, 0.3rem;
}

a.ui-link.ui-btn.ui-icon-dribble.ui-btn-icon-top, a.ui-link.ui-btn.ui-icon-cutlery.ui-btn-icon-top{ /* slightly adjust the border radius of two buttons in select popup */
	border-radius: 0.2rem;
}

.ui-collapsible-content.ui-body-inherit{
	color:red;
}

#collapsible_home h2 a{
	color:red;
}

/***************** Ziyu's Code Start *****************/

.ui-popup-container
{
    width: 80%;
    height: 20%;
}

/*****************  Ziyu's Code End  *****************/

/***************** JW's Code Start *****************/

img.backimage {
    width: 30%;
}

.backimageholder{
	text-align: left;
	padding-left: 0.5rem;
	padding-top: 1rem;
	float:left;
}

#header_logmeal{   /* customize header for meal login page*/
	float: left;
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
}

.pagetext, label.pagetext { /* adjust font styles for class pagetext */
	font-size: 1.0rem;
	font-weight: bold;
	color: black;
}

.AddDeleteItem {
	font-size: 1.0rem;
	color: black;
	text-align: left;
	text-decoration: underline;
	width: 40%;
}

#DeleteItem{
	display:none;
}

#ItemList1, #ItemList2 {
	display: none;
}

#submit_button_loginmeals a {
	height: 0.1rem;
	font-size:1.2rem;
	border-radius: 0.8rem;
}
#submit_button_loginmeals a p{
	position:relative;
	top:-3rem;
}

#submit_button_loginworkout a {
	height: 0.1rem;
	font-size:1.2rem;
	border-radius: 0.8rem;
}
#submit_button_loginworkout a p{
	position:relative;
	top:-3rem;
}

#duration{
	font-weight: bold;
}

#caloriesconsumed{
	font-weight: bold;
}

/*Restaurant Pages*/

#Address{
	height: 2rem;
}

#RankBy{
	height: 3rem;	
}

#FilterContainer {
	float: right;
	width: 70%;
	margin-top:-2.2rem;
}

#Filters-button {
	background-color: white;
	height: 1rem;
}

#Filters-button.ui-btn:after {
    ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Chrome, Safari, Opera */
    transform: scale(1);
} 

.Restaurant_Image{
	width: 5.8rem;
	height: 5.8rem;
	float: right;
	margin-top:-6.9rem;
}

.Favouritebutton{
	float: right;
	margin-top:-9rem;
}



/*****************  JW's Code End  *****************/


.imgcontainer { /* main login page image (avatar) */
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 20%;
    border-radius: 50%;

}

.container { /* general container */
    padding: 1rem;
    padding-top: 0.5rem;
}

input[type=text], input[type=password] { /* style the text in input boxes */
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}

div.ui-checkbox{ /* style the checkbox on main login page */
	margin-top: 1.5rem;
}

#checkbox_text{ /* style the text following the checkbox on main login page */
	display: inline;
	font-size: 1rem;
	position:relative;
	left:2rem;
	top:-0.7rem;
	margin-bottom: -0.2rem;
}

#login_submit a, #register_submit a, #back_to_login a, #reset_password_submit a{ /* style the submit buttons of main login, register, reset password and confirm popups */
	height: 0.1rem;
	font-size:1.2rem;
	border-radius: 0.8rem;
}
#login_submit a p, #register_submit a p, #back_to_login a p, #reset_password_submit a p{ /* style the submit buttons of main login, register, reset password and confirm popups */
	position:relative;
	top:-3rem;
}

/*div#login_submit.ui-navbar{
	font-size: 1rem;
} */


.header-back-home-button{ /* style the back home button in headers */
	width:10%;
	height:0.1rem;
	background-color: red !important;
	border-width: 0px !important;
	box-shadow: none !important;
	position: relative;
	margin-top: -6.8rem !important;
	margin-left: 1.5rem !important;
}

.header-back-home-button:after{ /* style the back home button in headers */
	background-repeat: no-repeat;
    background-position: center;
    background-color: red;
    left:1.4rem;
    top:2rem;
}

.header-back-home-button.ui-link:after { /* style the back home button in headers, scale the icon in the button */
    ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Chrome, Safari, Opera */
    transform: scale(2);
}

#navbar_newentry{ /*customize the newentry button in navbar*/
	background-color: rgb(180,180,180);
} 
