.ui-page-theme-a{  /* remove shadow when button is clicked, change font color to white when button is clicked */
	-webkit-box-shadow: 0px;
	-moz-box-shadow: 0px;
	box-shadow: 0px;
}

#custom_header{   /* customize header */
	background-color: red;
	color:white;
	font-weight: bold;
	height: 3em;
	font-size: 2em;
}

#custom_navbar .ui-btn{ /* customize the navigation bar */
	height: 1em; 
	font-size: 1em;
}

#custom_footer{ /* customzie the footer */
	background-color: white;
}

.ui-link.ui-btn{ /* adjust position of button texts */
	padding-top: 3.5em;
}

.ui-btn:after { /* scaling the icons in the buttons and adjust the position of the icons*/
    background-repeat: no-repeat;
    background-position: center;
    ms-transform: scale(2.2); /* IE 9 */
    -webkit-transform: scale(2.2); /* Chrome, Safari, Opera */
    transform: scale(2.2);
    top:1.2em;
}

.ui-btn-active:after{
	background-color: red;
}

.ui-icon-usd:after{ /* adjust the position of the image in the spending icon */
	background-position: 0.4em, 0.3em;
}

.ui-icon-cutlery:after{ /* adjust the position of the image in the dining icon */
	background-position: 0.25em, 0.3em;
}

#collapsible_home{

}

.ui-collapsible-content.ui-body-inherit{
	color:red;
}

#collapsible_home h2 a{
	color:red;
}

.ui-popup-container
{
    width: 80%;
    height: 20%;
}

/*SJW Code*/

img.backimage {
    width: 30%;
}

.backimageholder{
	text-align: left;
	padding-left: 0.5em;
	padding-top: 1em;
	float:left;
}

#header_logmeal{   /* customize header */
	float: left;
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
}

.pagetext {
	font-size: 1.5em;
	font-weight: bold;
	color: black;
}

.AddDeleteItem {
	font-size: 1.0em;
	color: black;
	text-align: left;
	text-decoration: underline;
	width: 7%;
}

#DeleteItem{
	display:none;
}

#ItemList1, #ItemList2 {
	display: none;
}

#submit_button_loginitem a {
	height: 0.1em;
	font-size:1.2em;
	border-radius: 0.8em;
}
#submit_button_loginitem a p{
	position:relative;
	top:-3em;
}

#example {
	display: none;
}

#duration{
	font-weight: bold;
}

#caloriesconsumed{
	font-weight: bold;
}

/*End of SJW Code*/
